{% extends "baseTemplate.html" %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}"/>
{% endblock %}

{% block content %}
    <div class="box-content">
        <h2 class="create__title">Datos del nuevo alumno</h2>
        <hr>
        <form method="POST" class="create__form">
            {# clave para formulario #}
            {% csrf_token %}
            {{form}}
            <div class="create__form__cont">
                <button class="create__form__button" type="submit">Registrar</button>
            </div>
        </form>
    </div>
{% endblock %}