{% extends "baseTemplate.html" %}

{% block content %}
    <div class="bg-light w-75 border border-3 border-dark rounded p-2 my-1 mx-auto">
        <h2 class="text-center">Datos del nuevo alumno</h2>
        <hr>
        <form method="POST" class="w-75 my-0 mx-auto">
            {# clave para formulario #}
            {% csrf_token %}
            <div class="w-75 p-1 my-2 mx-auto">
                {{form.as_p}}
            </div>
            <div class="w-100 text-danger text-center">{{error}}</div>
            <div style="width: 75px;" class="my-2 mx-auto">
                <button class="btn btn-danger border border-2 border-dark rounded-pill text-white p-1" type="submit">Registrar</button>
            </div>
        </form>
    </div>
{% endblock %}