{% extends "baseTemplate.html" %}

{%load static%}
{%block styles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}"/>
{%endblock%}

{% block content %}
    <div class="box-content">
        <h2>Alumnos registrados</h2>
        <table>
            <thead>
                <tr>
                {% for header in headers %}
                    <th>{{header}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{client.curp}}</td>
                        <td>{{client.nombre}}</td>
                        <td>{{client.direccion}}</td>
                        <td>{{client.telefono}}</td>
                        <td>{{client.correo}}</td>
                        <td>{{client.fecha_nac}}</td>
                        <td>{{client.id_plan}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}