{% extends "baseTemplate.html" %}

{% block content %}
    <div class="w-75 bg-light border border-3 rounded border-dark my-1 mx-auto p-2">
        <h2 class="text-center">Informacion de planes</h2>
        <hr>
        <table class="my-0 mx-auto">
            <thead>
                <tr>
                {% for header in headers_pln %}
                    <th class="border  border-dark bg-dark text-white text-center p-1">{{header}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for plan in plans %}
                    <tr>
                        <td class="p-1 border border-dark">{{plan.id_plan}}</td>
                        <td class="p-1 border border-dark">{{plan.nombre_pl}}</td>
                        <td class="p-1 border border-dark">{{plan.mensualidad}}</td>
                        <td class="p-1 border border-dark">{{plan.inscripcion}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="text-center">Alumnos registrados</h2>
        <hr>
        <table>
            <thead>
                <tr>
                {% for header in headers_alu %}
                    <th class="border border-dark bg-dark text-white text-center p-1">{{header}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td class="p-1 border border-dark">{{client.curp}}</td>
                        <td class="p-1 border border-dark">{{client.nombre}}</td>
                        <td class="p-1 border border-dark">{{client.direccion}}</td>
                        <td class="p-1 border border-dark">{{client.telefono}}</td>
                        <td class="p-1 border border-dark">{{client.correo}}</td>
                        <td class="p-1 border border-dark">{{client.fecha_nac}}</td>
                        <td class="p-1 border border-dark">{{client.id_plan}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}