{% extends 'baseTemplate.html' %}

{% block content %}
    <div class="w-75 border border-3 border-dark rounded p-2 my-1 mx-auto bg-light">
        <h2 class="text-center">Sesion cerrada</h2>
        <hr>
        <div class="w-75 my-2 mx-auto">
            <p class="text-center">
                ha salido del sistema de administracion de alumnos de forma 
                correcta, para volver a ingresar pulse el boton de abajo.
            </p>
        </div>
        <div style="width: 130px;" class="my-2 mx-auto">
            <a class="link-light p-1 border border-2 border-dark bg-danger rounded-pill text-decoration-none" href="/">Volver a ingresar</a>
        <div>
    </div>
{% endblock %}